<html
  xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  lang="en"
>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password requested</title>
    <style>
      .email-container * { font-family: 'Barlow'; font-size: 16px; } p { font-family: 'Barlow';
      font-style: normal; font-weight: 400; font-size: 18px; line-height: 24px; color: #181920; }
      .button-reset { max-width: 120px; text-decoration: none; cursor: pointer; font-size:
      16px;padding: 10px 20px; position: absolute; height: 44px; background: #36854C; border-radius:
      50px; border: none; }
    </style>
  </head>

  <body>
    <div class="email-container" style="padding-left: 10px; padding-top: 10px;">
      <p style="text-transform: capitalize;">Hi {{accountName}},</p>
      <p>We received a request to reset the password for your account.</p>
      <p>To reset your Password, click on the button below:</p>
      <a
        class="button-reset"
        href="{{URL}}"
        style="font-weight:700;color:#ffffff;max-width: 120px;justify-content: center;align-items: center;"
      >
        Reset Password
      </a>
      <br />
      <br />
      <p style="margin-bottom: 30px;">Or copy and paste the URL into your browser:</p>
      <a href="{{URL}}">{{URL}}</a>
      <br />
      <br />
      <p>If you did not request a password reset, please ignore this email or reply to let us know.</p>
      <p>This password reset link is only valid for 10 minutes.</p>
      <br />
      <p>Thank you,</p>
      <p>The Bulletproof Team</p>
    </div>
  </body>
</html>